root = true

[*]
indent_size = 4
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
csharp_new_line_before_open_brace = all

[*.json]
indent_size = 2
indent_style = space
